@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	max-width: 1280px;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

input,
textarea,
form,
button {
	display: block;
	width: 100%;
}

input,
textarea {
	background-color: #eeeeee;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}

form {
	max-width: 620px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 20px;
}

form label {
	font-size: 14px;
	width: 100%;
}

label p {
	margin-bottom: 8px;
}

.submit {
	background-color: #1e3149;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}

.form-success,
.form-failed {
	position: fixed;
	top: 1rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	color: white;
}

.form-success {
	background-color: rgb(85, 184, 85);
}

.form-failed {
	background-color: rgb(228, 103, 103);
}

.column {
	display: flex;
	gap: 20px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.column-reverse {
	flex-direction: row-reverse;
}

.column__left,
.column__right {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.column img {
	width: 100%;
}

.column h1 {
	font-size: 32px;
	font-weight: 900;
}

.column h3 {
	font-size: 18px;
	font-weight: 600;
}

.column__cta {
	font-size: 14px;
	font-weight: 600;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.vertical-gap-40 {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

article {
	max-width: 800px;
	margin: auto;
}

article h1 {
	font-size: 32px;
	font-weight: 700;
	margin: 32px 0;
}

article h2 {
	font-size: 24px;
	font-weight: 700;
	text-align: left;
	margin: 32px 0;
}

article p {
	margin: 24px 0;
}
